/*
 *= require_tree .
 *= require_self
 */
footer { color: #ccc; }
footer { margin-top: 100px; }
td { text-align: center; padding-left: 10px; }
th { border-bottom: 1px solid #DDD; padding-left: 20px; }